<% include ./partials/header.ejs %>
<body>
    <div id="wrapper">
        <% include ./partials/navigation.ejs %>
        <div id="page-wrapper">
            <div class="container-fluid">
            <% include ./partials/pageheader.ejs %>
            </div>
        <!-- GRAPH -->
        <div class='with-3d-shadow with-transitions'>
            <div id="test1" class="chartWrap">
                <svg height="500px" width="900px"></svg>
            </div>
        </div>
            <!-- GRAPH ONE -->
            <div id="chart"></div>
            <div id="dataset-picker"></div>
            <!-- GRAPH TWO -->
            <div id="chart"></div>
            <!-- GRAPH THREE -->
            <div id="mydiv"></div>
        </div>
</div>
<% include ./partials/scripts.ejs %>
</body>
</html>