<% include ./partials/header.ejs %>
<body>
    <div id="wrapper">
        <% include ./partials/navigation.ejs %>
        <div id="page-wrapper">
            <div class="container-fluid">
            <% include ./partials/pageheader.ejs %>
            </div>
            <h3 style="padding-left: 50px"><strong>Blood Sugar Activity</strong></h3>
        <!-- GRAPH -->
        <div class='with-3d-shadow with-transitions'>
            <div id="test1" class="chartWrap">
                <svg height="500px" width="900px"></svg>
            </div>
        </div>
            <div id="dataset-picker"></div>
            <!-- GRAPH TWO -->
            <div id="myDiv"></div>
    <div id="blood-sugar-average"></div>
        </div>
</div>
<% include ./partials/scripts.ejs %>
</body>
</html>