<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="home-page">
    <h1><%= title %></h1>
    <a href="/login"><button>Login</button></a>
    <p>Start managing your diabetes! Start now</p>
    <a href="/signup"><button>Signup</button></a>
    <% include ./partials/scripts.ejs %>
    <script>
    </script>
  </body>
</html>