<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="home-page">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button><a href="/login">Login</a></button>
    <button><a href="/signup">Signup</a></button>
    <% include ./partials/scripts.ejs %>
    <script>
      $.get('/tatti')
      .done(function(data) {
        console.log(data)
      })
      .fail(function(err) {
        console.error(err);
      })
    </script>
  </body>
</html>