<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class='login-page'>
  <h1 class='top-message'>WELCOME BACK</h1>
  <div class="form">
    <form action="/login" method="POST" id='login-form'>
    	<input type="text" name="email" placeholder="Email"><br>
    	<input type="text" name="email" placeholder="Password"><br>
    	<button type="submit">Login</button><br>
    </form>
  </div>
</body>
</html>