<% include ./partials/header.ejs %>
<body>
    <div id="wrapper">
        <% include ./partials/navigation.ejs %>
        <div id="page-wrapper">
            <div class="container-fluid">
            <% include ./partials/pageheader.ejs %>
            </div>
<!--               <form method="post" action="/upload/myfitnesspal">
                <input type="text" name="myFitnessPalUser" placeholder="myFitnessPal Username">
                <button type="submit" value="submit" id="submit">Synchronize</button>
              </form> -->
              <div class="form">
              <h3>Sync MyFitneesspalData</h3>
                <form action="/upload/myfitnesspal" method="POST" id='login-form'>
                  <input type="text" name="MyFitnessPalUser" placeholder="myFitnessPalUser Username">
                  <button type="submit" value="submit" id="submit">Synchronize</button>
                </form>
              </div>
              <div class="form">
              <h3>Sync Diabeties Log</h3>
                <form action="/upload/data" enctype="multipart/form-data" method="POST" id='login-form'>
                  <input type="file" name="csvdata" accept="text/csv">
                  <button type="submit" value="submit" id="submit">Upload</button>
                </form>
              </div>
        </div>
    </div>
<% include ./partials/scripts.ejs %>
</body>
</html>
