<% include ./partials/header.ejs %>
<body>
    <div id="wrapper">
        <% include ./partials/navigation.ejs %>
        <div id="page-wrapper">
            <div class="container-fluid">
            <% include ./partials/pageheader.ejs %>
            </div>
        </div>
    </div>
<% include ./partials/scripts.ejs %>
</body>
</html>
