<% include ./partials/header.ejs %>
<body>
    <div id="wrapper">
        <% include ./partials/navigation.ejs %>
        <div id="page-wrapper">
            <div class="container-fluid">
            <% include ./partials/pageheader.ejs %>
            </div>
            <h3 style="margin-left: 50px">***This website is a demonstration website ONLY. It was developed as a final project for our Lighthouse Labs Web Development Bootcamp in a week. Please stick to your Doctors recommendations on dieting and managing your blood sugar. <br> - Dilraj Somel &amp; Tanveet Gill</h3>
        </div>
    </div>
<% include ./partials/scripts.ejs %>
</body>
</html>