<% include ./partials/header.ejs %>
<body>
    <div id="wrapper">
        <% include ./partials/navigation.ejs %>
        <div id="page-wrapper">
            <div class="container-fluid">
            <% include ./partials/pageheader.ejs %>
            </div>
            <h3 style="margin-left: 50px">***This website is a demonstration website ONLY. It was developed as a final project for our Lighthouse Labs Web Development Bootcamp in a week. Please stick to your Doctors recommendations on dieting and managing your blood sugar. The data used in the graphs was extracted from a Carelink Insulin Pump, if you wish to supply test data you can under the MyFitnessPal tab. <br> - <a href="https://github.com/dsomel21">Dilraj Somel</a> &amp; <a href="https://www.linkedin.com/in/tanveetgill">Tanveet Gill</a></h3>
        </div>
    </div>
<% include ./partials/scripts.ejs %>
</body>
</html>