<% include ./partials/header.ejs %>
<body>
    <div id="wrapper">
        <% include ./partials/navigation.ejs %>
        <div id="page-wrapper">
            <div class="container-fluid">
            <% include ./partials/pageheader.ejs %>
            </div>
            <div class="form">
            <form action="/reminders" method="POST" id='login-form'>
            	<input type="text" name="phone" placeholder="16472990037">
            	<input type="time" name="time"<br>
            	<button type="submit">Remind Me</button>
            </form>
            </div>
        </div>
    </div>
<% include ./partials/scripts.ejs %>
</body>
</html>


