<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body id="signup-page">
<h1 class='top-message'>REGISTER NOW AND START CONTROLLING YOUR DIABETES!</h1>
  <div class="form">
    <form action="/signup" method="POST" id='login-form'>
    	<input type="text" name="first_name" placeholder="Firstname">
      <input type="text" name="last_name" placeholder="Lastname">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="password" name="confirm_password" placeholder="Confirm Password">
      <button type="submit">Signup</button>
    </form>
  </div>
</body>
</html>