<% include ./partials/header.ejs %>
<body>
    <div id="wrapper">
        <% include ./partials/navigation.ejs %>
        <div id="page-wrapper">
            <div class="container-fluid">
            <% include ./partials/pageheader.ejs %>
            </div>
        <h3 style="padding-left: 50px"><strong>Feed</strong></h3>
        <blockquote class="embedly-card" data-card-key="c6282adf33184e6dbc5033369057a084" data-card-type="article-full"><h4><a href="http://vocm.com/news/concerns-raised-about-diabetic-test-strip-caps/">VOCM - Government Clarifies Changes to Diabetes Testing</a></h4><p>The Department of Health has clarified what the changes to policies regarding the distribution of diabetic test strips will mean to people. Come July 1, government will reduce the number of free test strips to some people, but the department says nobody who needs more will go without.</p></blockquote>
        <blockquote class="embedly-card" data-card-key="c6282adf33184e6dbc5033369057a084"><h4><a href="https://vimeo.com/121072013">Diabetes + Me</a></h4><p>This is "Diabetes + Me" by rimidi on Vimeo, the home for high quality videos and the people who love them.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        <a class="embedly-card" href="http://www.nytimes.com/interactive/2009/08/04/health/TE_DIABETES.html?_r=0">Patient Voices: Type 2 Diabetes - Interactive Feature - NYTimes.com</a>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        <a class="embedly-card" href="https://www.youtube.com/watch?v=JsHqXrFohG0">Top 10 Foods for Diabetes Control</a>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        <blockquote class="embedly-card" data-card-key="aa65ee98ab8a4a19b023d13517255ea4" data-card-type="article-full"><h4><a href="http://www.nytimes.com/2016/02/21/opinion/sunday/break-up-the-insulin-racket.html">Break Up the Insulin Racket</a></h4><p>ONE of my patients - whom I will call Mrs. B - is a 78-year-old who has had Type 2 diabetes for over 30 years. She takes several injections of insulin each day. Her blood sugars have been running too high, but she doesn't want to increase the dose of her insulin.</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        <blockquote class="embedly-card" data-card-key="aa65ee98ab8a4a19b023d13517255ea4" data-card-type="article-full"><h4><a href="http://well.blogs.nytimes.com/2016/02/10/ask-well-the-sugar-in-fruit/">Ask Well: The Sugar in Fruit</a></h4><p>A Not if the fruit in question is whole fruit. Unlike honey, cane sugar, high-fructose corn syrup and other forms of sugar that are added to many processed foods, the sugar naturally found in fruit is consumed in the company of fiber, which helps your body absorb the sugar more slowly.</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
    </div>
<% include ./partials/scripts.ejs %>
</body>
</html>