<% include ./partials/header.ejs %>
<body>
    <div id="wrapper">
        <% include ./partials/navigation.ejs %>
        <div id="page-wrapper">
            <div class="container-fluid">
            <% include ./partials/pageheader.ejs %>
            </div>
        <h3 style="padding-left: 50px"><strong>Recent News</strong></h3>
        <a class="embedly-card" href="http://www.nytimes.com/interactive/2009/08/04/health/TE_DIABETES.html?_r=0">Patient Voices: Type 2 Diabetes - Interactive Feature - NYTimes.com</a>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        <a class="embedly-card" href="https://www.youtube.com/watch?v=JsHqXrFohG0">Top 10 Foods for Diabetes Control</a>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        <blockquote class="embedly-card" data-card-key="aa65ee98ab8a4a19b023d13517255ea4" data-card-type="article-full"><h4><a href="http://www.nytimes.com/2016/02/21/opinion/sunday/break-up-the-insulin-racket.html">Break Up the Insulin Racket</a></h4><p>ONE of my patients - whom I will call Mrs. B - is a 78-year-old who has had Type 2 diabetes for over 30 years. She takes several injections of insulin each day. Her blood sugars have been running too high, but she doesn't want to increase the dose of her insulin.</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        <blockquote class="embedly-card" data-card-key="aa65ee98ab8a4a19b023d13517255ea4" data-card-type="article-full"><h4><a href="http://well.blogs.nytimes.com/2016/02/10/ask-well-the-sugar-in-fruit/">Ask Well: The Sugar in Fruit</a></h4><p>A Not if the fruit in question is whole fruit. Unlike honey, cane sugar, high-fructose corn syrup and other forms of sugar that are added to many processed foods, the sugar naturally found in fruit is consumed in the company of fiber, which helps your body absorb the sugar more slowly.</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
    </div>
<% include ./partials/scripts.ejs %>
</body>
</html>